<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF8jgNEYGrg3dYyNNMPRUitwAqTI6V80I</string>
	<key>GCM_SENDER_ID</key>
	<string>798303158309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fundo.www</string>
	<key>PROJECT_ID</key>
	<string>react-native-fundoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-fundoapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798303158309:ios:2915c55eda5bc6c295ffcc</string>
</dict>
</plist>